/* First we set the page margin for as required for correct view/visual */
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif; 
    box-sizing: border-box;
}

/* Then we set the background color for the page and centeralized the calculator on the 
page using the various css functions*/

.container{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(1, 216, 35, 0.5), rgba(46, 1, 1, 0.5));
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Set the calculator background color */

.calculator{
    background: rgb(1, 46, 1);
    padding: 20px;
    border-radius: 10px;
}

/* Here I created a proper visual for the various form input*/

.calculator form input{
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 1px rgba(238, 235, 235, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2);
    background: rgb(0, 0, 0);
    border: solid 1px #fff;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    margin: 10px;
}

/* On this section I expanded the display section to horinzontally fit the calculator size */

form .display{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}

form .display input{
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
}

form input.equal{
    width: 145px;
}

form input.operator{
    color:#9ef01a
}

